
*.out
*.hex
LA104_APP/Temp/
LA104_APP/LA104/settings/LA104_APP.cspy.bat
LA104_APP/LA104/settings/LA104_APP.cspy.bat
LA104_APP/LA104/settings/LA104_APP.wsdt
LA104_APP/LA104/settings/LA104_APP.dni
LA104_APP/LA104/LA104_APPCustomSfr.sfr
LA104_APP/LA104/LA104_APP.dep
